@tailwind base;
@tailwind components;
@tailwind utilities;

  [type='search']:focus{
  box-shadow:none;
}

  body {
    @apply bg-background text-foreground;
  }

  div::-webkit-scrollbar {
    display: none;
  }
  
  div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .revert-tw *{
    all: revert !important;
  }